body{background-color: rgb(39, 160, 240)}
header{text-align: center; background-color: rgba(96, 79, 248, 0.37)}
.Nav1{display: flex; justify-content: space-around;background-color: rgba(84, 67, 231, 0.37);border-radius: 100%;text-align: center; padding: 3em; font-size: 20px; border: black 3px; width: 500px; margin-left: 28%}
main{display: flex; justify-content: space-around;background-color: rgb(79, 79, 238);border-radius: 10%;text-align: center; padding: 2em; font-size: 20px; width: 500px; margin-left: 29%}
Footer{padding: 1em; text-align: center;background-color: darkblue; color: white}